.novidades {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;

  h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 1px;
  }

  .novidades-img {
    width: 100%;
    max-width: 1300px;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
  }
}
