.box-cores {
    display: flex;
    flex-wrap: nowrap;        
    align-items: center;
    justify-content: center;
    gap: 40px;                 
    padding: 50px 0;
}

h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}


.img-lateral {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;                
}

.img-lateral img {
    width: 140px;
    border-radius: 6px;
}

.img-cor {
    height: 420px;           
    object-fit: cover;
}

.card-lancamentos {
    display: flex;
    flex-direction: column;
    gap: 18px;
    width: 460px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    background: white;
}

.card-lancamentos h3 {
    font-size: 26px;
}

.img-estrelas {
    width: 120px;
}

.mostruario {
    display: flex;
    gap: 15px;
}

.img-circulo {
    width: 55px;
}

.descricao-lancamento {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

/* --- MOBILE --- */

@media (max-width: 768px) {

    #lancamentos {
        h2 {
            font-size: 20px;
        }

        .box-cores {
            height: auto;
            padding-bottom: 0;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            padding: 0 20px;
            gap: 20px;
        }

        .img-cor {
            width: 60vw;
            height: auto;
        }

        .img-lateral {
            display: none;
        }

        .card-lancamentos {
            width: 95vw;
            align-items: center;
            height: auto;
            gap: 10px;
            padding: 20px 30px;
            
            .descricao-lancamento {
                font-size: 13px;
                width: auto;
            }

            h3 {
                font-size: 16px;
                font-weight: 600;
            }

            h4 {
                font-size: 15px;
                font-weight: 600;
            }

        
        }
    }
}